.energy {
    margin: 0px 0px 6px 12px;
}

.energy label {
    width: 20px;
    display: inline-block;
}

.exp {
    border-radius: 4px;
}

.exp label {
    padding-left:12px;
    display: inline-block;
    width: 75px;
}

.basic-info {
    top: 65px;
    left: 10px;
    width: 250px;
}

.inventory {
    width: 250px;
    height: 120px;
}

.storage {
    width: 250px;
    height: 300px;
}

.storage .ro-win-content {
    margin-bottom: 5px;
}

.disclaimer {
    max-width: 400px;
    max-height: 400px;
    display: none;
}

.disclaimer .ragnarok-scroll-pane {
    height: 300px;
    background-color: #F7F7F7;
}

.equip {
    width: 285px;
}

.todo {
    display: none;
    width: 300px;
}

li {
    list-style-type: none;
}

li img {
    margin-right: 8px;
}
