<div class='ro-chat-bar'>
    <div class='chat-messages ragnarok-scroll-pane' class='highlight'>
        {{#messages}}
            <div class='ro-{{color}}'><span title='{{timestamp}}'>{{user}}</span> : {{message}}</div>
        {{/messages}}
    </div>
    <div class='chat-handle'>
        <div class='chat-input-wrap ro-stripe'>
            <input class='chat-user-input'>
            <div class='ro-chat-dropdown ro-btn'></div>
            <input class='chat-message-input'>
            <div class='ro-btn ro-win-btn'></div>
            <div class='ro-btn ro-win-btn'></div>
        </div>
    </div>
</div>
