<div class="window" style="top: 155px; left:5px;">
    <div class="ragnarok-window-inner">
        Check out this cool demo!
        <hr />
        <div class="ro-load ro-btn" href="http://beta.ragnastats.com/bootstrap/demo/exports/poof-export.json">Load Poof~</div>
        <div class="ro-load ro-btn" href="http://beta.ragnastats.com/bootstrap/demo/exports/lucius-export.json">Load Monk Lucius</div>
        <div class="ro-load ro-btn" href="http://beta.ragnastats.com/bootstrap/demo/exports/fiolina-export.json">Load Fiolina</div>
        <div class="ro-load ro-btn" href="http://beta.ragnastats.com/bootstrap/demo/exports/touring-export.json">Load The Touring Tester</div>
        <div class="ro-funtime ro-btn">Every Item! :D</div>
    </div>
</div>
