<div class="ragnarok-window disclaimer" style="top: 25%; left: 45%;">
    <div class="ragnarok-window-inner">
        <div class="ragnarok-scroll-pane">
            <p>WARNING: RAGNAROK ONLINE IS AWESOME</p>

            <p>
                RagnaStats may induce previously undetected desires to use illegal 3rd party plugins for Ragnarok Online.
                A very small percentage of indivudals may experience temper tantrums when exposed to 3rd party plugins such as bots.
                Exposure to certain plugins or cool features, also known as user created content, may induce irrational fits of rage in these indivudals.
            </p>
                                    
            <p>
                [ TERMS OF AGREEMENT Last updated July 18, 2012 ]
            </p>
            
            <p>
                1. TERMS OF AGREEMENT<br />
                THE TERMS OF AGREEMENT ("MY ASS") DESCRIBES THE FEATURES AND CONDITIONS ON WHICH RAGNASTATS INTERACTIVE INC ("RAGS KINGS") OFFERS TO ALLOW YOU TO USE THE BEST WEBSITE EVER ("RAGNASTATS.COM" OR THE "SHIT") CONDITIONED ON YOUR AGREEMENT TO ALL OF THE TERMS AND CONDITIONS CONTAINED IN THIS AGREEMENT AND COMPLIANCE WITH THE POSTED RULES OF CONDUCT.
            </p>
            
            <p>
                BEFORE PROCEEDING TO REGISTER, PLEASE READ MY ASS AND POKE THE "FART" BOX IF YOU ACCEPT THE TERMS. BY CLICKING ON THE "FART" BUTTON, INSTALLING, COPYING, OR OTHERWISE USING THE SHIT, YOU AGREE TO BE BOUND AND GAGGED. IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS OF MY ASS, PLEASE PRESS [ALT] + [F4] AND PROMPTLY GO OUTSIDE FOR SOME FRESH MOUNTAIN AIR.
            </p>
            
            <p>
                2. DEFINITIONS
            </p>
            
            <p>
                (a) "Intellectual Property" shall mean all patents, designs, utility models, copyrights, know-how, trade secrets, trademarks, service mark, trade dress and any other intellectual property rights in or related to the Shit or Technical Information.
            </p>
            
            <p>
                (b) "Technical Information" shall mean the software, know-how, data, test result, layouts, artwork, processes, scripts, concepts and other technical information on or in relation to the Shit and the installation, operation, maintenence, service and use thereof.
            </p>

            <p>
                (c) "End Users" shall mean the users of RagnaStats.com through this website and our loving carebear hug network established and operated with individually assigned hug numbers for each End User. 
            </p>

            <p>
                3. AMENDMENTS
            </p>
            
            <p>
                This User agreement (the "Shit") comprises the entire agreement between RagnaStats and the User, and supersedes any prior agreements between the User and RagnaStats with respect to the subject matter hereof. This Shit does not supersede any additional terms and conditions which may or may not have come with the installation of your cybernetic body. RagnaStats may amend or revise this Shit at any time and at its sole discretion, and such amendment or revision shall be effective upon posting of such revised agreement on the RagnaStats web site (the "Best Web Site Ever"). User hereby agrees to review this Shit by accessing the Best Website Ever periodically to become aware of any such revisions. If any revision is unacceptable to the User, the User may terminate the Shit hereof. Continued use of the Services following the posting of the revised Agreement shall be deemed to be acceptance of all such what does this even mean.
            </p>
            
            <p>
                4. DESCRIPTION OF SERVICE
            </p>
            
            <p>
                Holy crap this thing goes on forever.
            </p>
        </div>

        <div class="ro-right ragnarok-handle ro-btns">
            <div class="ro-btn ro-text-btn" value="agree"><div>Agree</div></div>
            <div class="ro-btn ro-text-btn" value="exit"><div>Exit</div></div>
        </div>

        <div class="ragnarok-clear ragnarok-handle"></div>
    </div>
</div>
