<div class="ro-win equip" style="top: 5px; left:260px;">
    <div class="ro-win-title">
        <div class="ro-btn ro-win-btn"></div>

        <p class="ro-handle">
            Equip
        </p>

        <div class="ro-right">
            <div class="ro-btn ro-win-btn-min"></div>
            <div class="ro-btn ro-win-btn-close ro-hover" hover="Alt + Q"></div>
        </div>
    </div>

    <div class="ro-win-content">

        <div class="ro-equip-lft">
            <div class="ro-equip">
                <div class="ro-item" slot="upper-headgear"></div>
                <p>head</p>
            </div>
            
            <div class="ro-equip">
                <div class="ro-item" slot="lower-headgear"></div>
                <p>head</p>
            </div>

            <div class="ro-equip">
                <div class="ro-item" slot="right-hand"></div>
                <p>R-Hand</p>
            </div>

            <div class="ro-equip">
                <div class="ro-item" slot="garment"></div>
                <p>robe</p>
            </div>

            <div class="ro-equip">
                <div class="ro-item" slot="right-accessory"></div>
                <p>accessory</p>
            </div>
        </div>

        <div class="ro-equip-ctr">
            
        </div>
        
        <div class="ro-equip-rt">
            <div class="ro-equip">
                <div class="ro-item" slot="mid-headgear"></div>
                <p>head</p>
            </div>
            
            <div class="ro-equip">
                <div class="ro-item" slot="armor"></div>
                <p>body</p>
            </div>
            
            <div class="ro-equip">
                <div class="ro-item" slot="left-hand"></div>
                <p>L-Hand</p>
            </div>
            
            
            <div class="ro-equip">
                <div class="ro-item" slot="shoes"></div>
                <p>shoes</p>
            </div>
            
            <div class="ro-equip">
                <div class="ro-item" slot="left-accessory"></div>
                <p>accessory</p>
            </div>
        </div>

        <div class="ro-win-foot">
            <div class="ro-left ro-hover" hover="Status">Status</div>
            <div class="ro-right"><div class="ro-check checked"></div>Show Equip</div>
        </div>
    </div>
</div>
