<div class="ro-win ro-stripe ro-hotkey-bar" style="left: 600px;">
    <div class="ro-hotkeys ro-handle">
        <div class="ro-hotkey ro-handle"></div>
        <div class="ro-hotkey ro-handle"></div>
        <div class="ro-hotkey ro-handle"></div>

        <div class="ro-hotkey ro-handle"></div>
        <div class="ro-hotkey ro-handle"></div>
        <div class="ro-hotkey ro-handle"></div>

        <div class="ro-hotkey ro-handle"></div>
        <div class="ro-hotkey ro-handle"></div>
        <div class="ro-hotkey ro-handle"></div>

        <span class="ro-handle">1</span>
    </div>

    <div class="ro-btn ro-win-btn-close ro-hover" hover="F12"></div>
</div>
