.ragnarok-chat {
    top: -40px;
    left: -70px;
    border-radius: 6px;
        
    .ragnarok-window-inner {
        border-radius: 6px;
        width: 140px;
        padding: 4px;
    }

    .chat-title {
        margin-left: 24px;
        height: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &::before {
            position: absolute;
            top: 3px;
            left: 4px;
            width: 24px;
            height: 24px;
            content: " ";
        }

        &.public-chat::before {
            background-image:url(../assets/skin/title-chat-public.png);
        }

        &.private-chat::before {
            background-image:url(../assets/skin/title-chat-private.png);
        }
    }
}
