.ragnarok-chat {
    top: -40px;
    left: -70px;
    border-radius: 6px;
        
    .ragnarok-window-inner {
        border-radius: 6px;
        width: 140px;
        padding: 4px;
    }

    .chat-title {
        height: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
