.ro-bg-gray {
    background-color: #E7E7E7; 
}

.ro-yellow { color:yellow; }
.ro-green { color:green; }
.ro-white { color: #fff; }
.ro-lightgreen { color:lightgreen; }
.ro-lime { color:lime; }
.ro-pink { color: #ffcccc; }
.ro-orange { color: #ffcc00; }

