.ro-bg-gray {
    background-color: #E7E7E7; 
}

.ro-yellow { color:yellow; }
.ro-green { color:green; }
.ro-white { color: #fff; }
.ro-lightgreen { color:lightgreen; }
.ro-lime { color:lime; }
.ro-pink { color: #ffcccc; }
.ro-orange { color: #ffcc00; }

.ro-vendor-items
{
    .ro-turquoise { color: #000; text-shadow:1px 1px #0ff; }
    .ro-purple { color: #00f; text-shadow:1px 1px #ce00ce; }
    .ro-light-blue { color: #00f; text-shadow:1px 1px #0ff; }
    .ro-orange { color: #f00; text-shadow:1px 1px #ff0; }
    .ro-pink { color: #ff18ff; }
    .ro-blue { color: #00f; }
    .ro-green { color: #000; text-shadow:1px 1px #0f0; }
    .ro-red { color: #f00; }
}
