<div class="ragnarok-window basic-info" style="top: 5px; left:5px;">
    <div class="ragnarok-window-title">
        <div class="ragnarok-button ragnarok-window-button"></div>

        <p class="ro-handle" ro-min-text="<span>Fiolina</span>">
            Basic Info
        </p>

        <div class="ragnarok-right">
            <div class="ragnarok-button ragnarok-window-button-minimize ro-hover" hover="Alt + V"></div>
        </div>
    </div>

    <div class="ragnarok-window-content">
        <div class="ro-name">{{name}} &nbsp;</div>

        <div class="ragnarok-small">
            <div class="ro-class">{{class}} &nbsp;</div>

            <div class="energy">
                <div class="ro-hp"><label>HP</label> <div class="ragnarok-progress-bar"><div></div><span class="ragnarok-progress-value">&nbsp;</span></div> <span class="ragnarok-progress-bar-total">&nbsp;</span></div>
                <div class="ro-sp"><label>SP</label> <div class="ragnarok-progress-bar"><div></div><span class="ragnarok-progress-value">&nbsp;</span></div> <span class="ragnarok-progress-bar-total">&nbsp;</span></div>
            </div>
            
            <div class="ragnarok-gray exp">
                <label class="ro-lvl">&nbsp;</label> <div class="ragnarok-progress-bar-small ro-hover ro-exp"><div style="width: 0%;"></div></div><br />
                <label class="ro-job-lvl">&nbsp;</label> <div class="ragnarok-progress-bar-small ro-hover ro-job-exp"><div style="width: 0%;"></div></div>
            </div>
        </div>
    </div>

    <div class="ragnarok-window-footer ragnarok-tiny">
        <span class="ro-hover ro-weight">&nbsp;</span>
        &ensp;
        <span class="ro-zeny"></span>
    </div>

    <div class="ragnarok-window-minimized-content">
        <div>Lv. 98 / Priest / Lv. 49 / Exp. 30.7%</div>
        <div>HP. 5150 / 5830 | SP. 118 / 1318</div>
    </div>
</div>
