<div class="ragnarok-window basic-info" style="top: 5px; left:5px;">
    <div class="ragnarok-window-title">
        <div class="ragnarok-button ragnarok-window-button"></div>

        <p class="ro-handle" ro-min-text="<span>{{name}}</span>">
            Basic Info
        </p>

        <div class="ragnarok-right">
            <div class="ragnarok-button ragnarok-window-button-minimize" hover="Alt + V"></div>
        </div>
    </div>

    <div class="ragnarok-window-content">
        <div class="ro-name">{{name}} &nbsp;</div>

        <div class="ragnarok-small">
            <div class="ro-class">{{class}} &nbsp;</div>

            <div class="energy">
                <div class="ro-hp"><label>HP</label> <div class="{{hp_class}} {{^hp_class}}ragnarok-progress-bar{{/hp_class}}"><div style="width: {{hp_percent}}"></div><span class="ragnarok-progress-value">{{hp.current}} / {{hp.total}}</span></div> <span class="ragnarok-progress-bar-total">{{hp_percent}}</span></div>
                <div class="ro-sp"><label>SP</label> <div class="{{sp_class}} {{^sp_class}}ragnarok-progress-bar{{/sp_class}}"><div style="width: {{sp_percent}}"></div><span class="ragnarok-progress-value">{{sp.current}} / {{sp.total}}</span></div> <span class="ragnarok-progress-bar-total">{{sp_percent}}</span></div>
             </div>
            
            <div class="ragnarok-gray exp">
                <label class="ro-lvl">Base Lv. {{level.base}}</label> <div class="ragnarok-progress-bar-small ro-hover ro-exp" hover="{{exp_percent}}"><div style="width: {{exp_percent}};"></div></div><br />
                <label class="ro-job-lvl">Job Lv. {{level.job}}</label> <div class="ragnarok-progress-bar-small ro-hover ro-job-exp" hover="{{job_exp_percent}}"><div style="width: {{job_exp_percent}};"></div></div>
            </div>
        </div>
    </div>

    <div class="ragnarok-window-footer ragnarok-tiny">
        <span class="ro-hover ro-weight" hover="{{weight_percent}}">Weight : {{weight.current}} / {{weight.total}}</span>
        &ensp;
        <span class="ro-zeny">{{zeny_text}}</span>
    </div>

    <div class="ragnarok-window-minimized-content">
        <div>Lv. 98 / Priest / Lv. 49 / Exp. 30.7%</div>
        <div>HP. 5150 / 5830 | SP. 118 / 1318</div>
    </div>
</div>
