<div class='ro-chat-bar'>
    <div class='chat-messages ragnarok-scroll-pane' class='highlight'>
        {{#chat}}
            <div class='{{color}}'>{{message}}</div>
        {{/chat}}
    </div>
    <div class='handle'>
        <div id='ragnarok-chat-container'>
            <!--
            <div>
                <input id='ragnarok-chat-user-input'>
                <img id='ragnarok-chat-user-button' src='/assets/chat/user-button.png'>
                <input id='ragnarok-chat-text-input' value="Let's just pretend this is some text~">
                <img id='ragnarok-chat-send-to' src='/assets/chat/chat-button.png'>
                <img id='ragnarok-chat-resize' src='/assets/chat/chat-button.png'>
            </div>
            -->
        </div>
    </div>
</div>
