<div class="ro-win inventory" style="bottom:5px; right: 5px;">
    <div class="ro-win-title">
        <div class="ro-btn ro-win-btn"></div>

        <p class="ro-handle">
            Inventory
        </p>

        <div class="ro-right">
            <div class="ro-btn ro-win-btn-min"></div>
            <div class="ro-btn ro-win-btn-close ro-hover" hover="Alt + E"></div>
        </div>
    </div>

    <div class="ro-win-content">
        <div class="ro-side">
            <div class="ro-tab-inv-bg">
                <div class="ro-tab-inv" tab="usable"></div>
                <div class="ro-tab-inv" tab="equip"></div>
                <div class="ro-tab-inv" tab="misc"></div>
            </div>
        </div>

        <div class="ro-items ragnarok-scroll-pane">
        </div>
    </div>

    <div class="ro-win-foot ro-handle">
        <div class="ro-btn ro-win-resize"></div>
    </div>
</div>
