<div class="ragnarok-window ragnarok-item-collection" style="top:45%; left: 45%; display: none;">
    <div class="ragnarok-window-inner">
        <div class="ragnarok-title ro-handle">
            <span class="ro-handle"></span>
            <div class="ro-collection-txt ro-handle">Collections</div>
            <div class="ro-btn ro-win-btn-close"></div>
        </div>
                            
        <div class="ragnarok-content ragnarok-scroll-pane"></div>
        <img src="http://cdn.ragnastats.com/collection/501.png">
    </div>

    <div class="ro-btn ro-win-resize"></div>
</div>
