<div class="ro-win storage" style="display: none; top:5px; right: 5px;">
    <div class="ro-win-title">
        <div class="ro-btn ro-win-btn" style="opacity: 0"></div>

        <p class="ro-handle">
            Main Storage
        </p>
    </div>

    <div class="ro-win-content">
        <div class="ro-side">
            <div class="ro-tab-stor-bg">
                <div class="ro-tab-stor" style="height: 23px;" tab="usable" img="../assets/skin/stor-tab-usable.png"></div>
                <div class="ro-tab-stor" style="height: 28px;" tab="kafra" img="../assets/skin/stor-tab-kafra.png"></div>
                <div class="ro-tab-stor" style="height: 36px;" tab="armor" img="../assets/skin/stor-tab-armor.png"></div>
                <div class="ro-tab-stor" tab="weapon" img="../assets/skin/stor-tab-weapon.png"></div>
                <div class="ro-tab-stor" style="height: 36px;" tab="ammo" img="../assets/skin/stor-tab-ammo.png"></div>
                <div class="ro-tab-stor" style="height: 25px;" tab="card" img="../assets/skin/stor-tab-card.png"></div>
                <div class="ro-tab-stor" tab="misc" img="../assets/skin/stor-tab-misc.png"></div>
            </div>
        </div>

        <div class="ro-items ragnarok-scroll-pane">
        </div>
    </div>

    <div class="ro-win-foot ro-handle">
        <p class="ro-lft">0/600</p>
        <div class="ro-btn ro-text-btn" action="close"><div>Close</div></div>
        <div class="ro-btn ro-win-resize"></div>
    </div>
</div>
