<div class="ro-win storage" style="display: none; top:5px; right: 5px;">
    <div class="ro-win-title">
        <div class="ro-btn ro-win-btn" style="opacity: 0"></div>

        <p class="ro-handle">
            Main Storage
        </p>
    </div>

    <div class="ro-win-content">
        <div class="ro-side">
            <div class="ro-tab-stor-bg">
                <div class="ro-tab-stor" style="height: 23px;" tab="usable"></div>
                <div class="ro-tab-stor" style="height: 28px;" tab="kafra"></div>
                <div class="ro-tab-stor" style="height: 36px;" tab="armor"></div>
                <div class="ro-tab-stor" tab="weapon"></div>
                <div class="ro-tab-stor" style="height: 36px;" tab="ammo"></div>
                <div class="ro-tab-stor" style="height: 25px;" tab="card"></div>
                <div class="ro-tab-stor" tab="misc"></div>
            </div>
        </div>

        <div class="ro-items ragnarok-scroll-pane">
        </div>
    </div>

    <div class="ro-win-foot ro-handle">
        <p class="ro-left">0/600</p>
        <div class="ro-btn ro-text-btn" action="close"><div>Close</div></div>
        <div class="ro-btn ro-win-resize"></div>
    </div>
</div>
