<div class="ro-win todo" style="top: 155px; left: 5px;">
    <div class="ro-win-title">
        <div class="ro-win-btn"></div>

        <p class="ro-handle">
            Party (Actually A Todo List)
        </p>

        <div class="ro-right">
            <div class="ro-btn ro-win-btn-close"></div>
        </div>
    </div>

    <div class="ro-win-content">
        <b>April</b>

        <ul>
            <li><div class="ro-check checked"></div> Transparency on drag</li>
            <li><div class="ro-check checked"></div> Checkboxes!!</li>
            <li><div class="ro-check checked"></div> Only drag on handles</li>
            <li><div class="ro-check checked"></div> Prevent dragging on buttons</li>
            <li><div class="ro-check checked"></div> Fix z-index on drag</li>
            <li><div class="ro-check checked"></div> Snap to edges</li>
            <li><div class="ro-check checked"></div> Drag to resize</li>
            <li><div class="ro-check checked"></div> Item placement</li>
            <li><div class="ro-check checked"></div> Hover tooltips (weight, items)</li>
            <li><div class="ro-check checked"></div> Inventory tabs</li>
            <li><div class="ro-check checked"></div> Storage window</li>
        </ul>
        
        <b>Todo</b>
        <ul>
            <li><div class="ro-check"></div> Draggale items</li>
        </ul>

        <b>Eventually</b>
        <ul>
            <li><div class="ro-check"></div> Animated cursors</li>
            <li><div class="ro-check"></div> Snap to other windows</li>
            <li><div class="ro-check"></div> Make this look like a party window</li>
            <li><div class="ro-check"></div> Make a real todo box</li>
            <li><div class="ro-check"></div> Mini Map</li>
            <li><div class="ro-check"></div> GM Messages</li>
            <li><div class="ro-check"></div> List select</li>
        </ul>
    </div>

    <div class="ro-win-foot ro-handle">
        <div class="ro-btn ro-win-resize"></div>
    </div>
</div>
